<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <title>Resume</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
    <body>
        <h1>MITALI JUNEJA</h1>
        
        <nav>
        <ul>
            <li>
                <a href="/">About Me</a>
            </li>
            <li>
                <a href="/resume">Resume</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/photography" class=active>Photography</a>
            </li>
        </nav>
      
           
      
    </body>
</html>

